<flash-messages></flash-messages>
<h4 class="text-muted text-center font-18"><b>New Password</b></h4>

<div class="p-3">
    <form class="form-horizontal m-t-20" action="http://themesdesign.in/upcube/layouts/vertical/index.html">

      <div class="form-group">
          <div class="col-xs-12">
              <input #mpassword="ngModel" [(ngModel)]="password" name="password" class="form-control" type="password" required="" placeholder="new password">
              <p style="color:red;" *ngIf="mpassword.errors?.required  && mpassword.touched ">
             Please enter your password
               </p>

          </div>
      </div>

        <div class="form-group">
            <div class="col-xs-12">
                <input #mcpassword="ngModel" [(ngModel)]="confirmpassword" name="confirmpassword" class="form-control" type="password" required="" placeholder="confirm password">
                <p style="color:red;" *ngIf="mcpassword.errors?.required  && mcpassword.touched ">
               Please confirm your password
                 </p>


            </div>
        </div>

        <div class="form-group text-center row m-t-20">
            <div class="col-12">
                <button [disabled]="!(mpassword.valid && mcpassword.valid)" (click)="newpassword()" class="btn btn-info btn-block waves-effect waves-light" type="submit">Confirm</button>
            </div>
        </div>

    </form>
</div>
