<div class="accountbg"> </div>

<div class="wrapper-page">

    <div class="card">
<flash-messages></flash-messages>
        <div class="card-body">




  <router-outlet></router-outlet>

        </div>
    </div>
</div>
