<flash-messages></flash-messages>
<h4 class="text-muted text-center font-18"><b>Reset Password</b></h4>

<div class="p-3">
    <form class="form-horizontal m-t-20" >



        <div class="form-group">
            <div class="col-xs-12">
                <input [(ngModel)]="email" name="email" class="form-control" type="text" required="" placeholder="Please enter your email">
            </div>
        </div>

        <div class="form-group text-center row m-t-20">
            <div class="col-12">
                <button (click)="reset()" class="btn btn-info btn-block waves-effect waves-light" type="submit">Send Email</button>
            </div>
        </div>
        <div class="form-group m-t-10 mb-0 row">

            <div class="col-sm-5 m-t-20">
  <a routerLink="/"  href="" class="text-muted">Back to login</a>
            </div>
        </div>
    </form>
</div>
