
<flash-messages></flash-messages>
<h4 class="text-muted text-center font-18"><b>Sign In</b></h4>

<div class="p-3">
    <form class="form-horizontal m-t-20">

        <div class="form-group row">
            <div class="col-12">
      <input required [class.parsley-error]="(myemail.errors?.pattern ||   myemail.errors?.required) && myemail.touched"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #myemail="ngModel" [(ngModel)]="email" name="email" class="form-control" type="email" required="" placeholder="Email">

    <p style="color:red;" *ngIf="myemail.errors?.pattern && myemail.touched">email is invalid </p>
              <p style="color:red;" *ngIf="myemail.errors?.required  && myemail.touched ">
   Please enter your email
 </p>
            </div>
        </div>

        <div class="form-group row">
          <div class="col-12">
              <input class="form-control"  [class.parsley-error]="mypassword.errors?.required  && mypassword.touched" #mypassword="ngModel" [(ngModel)]="password" name="password" type="password" required="" placeholder="Password">
              <p style="color:red;" *ngIf="mypassword.errors?.required  && mypassword.touched ">
             Please enter your password
               </p>
          </div>
        </div>



        <div class="form-group text-center row m-t-20">
            <div class="col-12">
                <button [disabled]=" !(myemail.valid && mypassword.valid)"  (click)="login()" class="btn btn-info btn-block waves-effect waves-light" type="submit">Log In</button>
            </div>
        </div>

        <div class="form-group m-t-10 mb-0 row">
            <div class="col-sm-7 m-t-20">
                <a  routerLink="forgotpassword" href="" class="text-muted"><i class="mdi mdi-lock    "></i> Forgot your password?</a>
            </div>
            <div class="col-sm-5 m-t-20">
                <a  routerLink="register"  href="" class="text-muted"><i class="mdi mdi-account-circle"></i> Create an account</a>
            </div>
        </div>
    </form>
</div>
