<flash-messages></flash-messages>
<h4 class="text-muted text-center font-18"><b>Create an account</b></h4>

<div class="p-3">
    <form class="form-horizontal m-t-20">

        <div class="form-group row">
            <div class="col-12">
                <input required [class.parsley-error]="(myemail.errors?.pattern ||   myemail.errors?.required) && myemail.touched"  pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" #myemail="ngModel" [(ngModel)]="email" name="email" class="form-control" type="email" required="" placeholder="Email">
              <p style="color:red;" *ngIf="myemail.errors?.pattern && myemail.touched">email is invalid </p>
              <p style="color:red;" *ngIf="myemail.errors?.required  && myemail.touched ">
   email is required.
 </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input [class.parsley-error]="myusername.errors?.required  && myusername.touched" #myusername="ngModel" [(ngModel)]="username" name="username" class="form-control" type="text" required="" placeholder="Username">
                <p style="color:red;" *ngIf="myusername.errors?.required  && myusername.touched ">
     username is required.
   </p>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-12">
                <input class="form-control"  [class.parsley-error]="mypassword.errors?.required  && mypassword.touched" #mypassword="ngModel" [(ngModel)]="password" name="password" type="password" required="" placeholder="Password">
                <p style="color:red;" *ngIf="mypassword.errors?.required  && mypassword.touched ">
                   password is required.
                 </p>
            </div>
        </div>



        <div class="form-group text-center row m-t-20">
            <div class="col-12">
                <button (click)="clicker()" [disabled]="!(myemail.valid && myusername.valid && mypassword.valid)"   class="btn btn-info btn-block waves-effect waves-light" >Register</button>
            </div>
        </div>

        <div class="form-group m-t-10 mb-0 row">
            <div class="col-12 m-t-20 text-center">
                <a routerLink="/"  href="" class="text-muted">Already have account?</a>
            </div>
        </div>
    </form>
</div>
